version: 2
jobs:
  build:
    docker:
      - image: microsoft/dotnet:sdk
    steps:
      - checkout
      
      - run: sudo apt update
      - run: sudo apt install npm
      - run: npm install
      - run: sudo npm install --global apollo

      - run: find .
      - run: dotnet restore
      - run: dotnet build
      - run: 
          name: Starting server
          command: dotnet run
          background: true
      - run: sleep 5
      - run: |
          if [ "${CIRCLE_BRANCH}" == "master" ]; then
            apollo service:push --tag=master
          fi